$background-color: rgba(235, 238, 243, 1);
$text-color: rgba(0, 0, 0, 0.75);
$dark-text: rgba(0, 0, 0, 0.85);
$primary-color: rgba(24, 144, 255, 1);
$tag-color: rgba(0, 0, 0, 0.5);
$label-color: rgba(38, 38, 38, 1);
$heart-color: rgba(255, 7, 7, 1);
$green-color: rgba(82, 196, 26, 1);
$red-color: rgba(245, 34, 45, 1);
$hover-bg: #434190;
$background-light: #fff5f5;
$border-color: #ddd;
$white-color: #fff;

$title-size-article: 20px;
$small-size-text: 12px;
$price-font-weight: 600;
$middle-size-text: 18px;
$icon-size: 1rem;
$font-family: "Inter", "Roboto", sans-serif;
